<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <RadioGroup
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/accuracyChoseGroup">
        <TextView
            android:text="@string/OptionsAccuracyGroupTitle"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/accuracyHeader"
            android:gravity="center" />
        <RadioButton
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="@string/OptionsAccuracyCoarseTitle"
            android:id="@+id/coarseAccuracy" />
        <RadioButton
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:checked="true"
            android:text="@string/OptionsAccuracyFineTitle"
            android:id="@+id/fineAccuracy" />
    </RadioGroup>
</LinearLayout>